/* ===== Scrollbar CSS ===== */

  * {
    scrollbar-width: auto;
    scrollbar-color: #8f54a0 #ffffff;
  }

  *::-webkit-scrollbar {
    width: 16px;
  }

  *::-webkit-scrollbar-track {
    background: #ffffff;
  }

  *::-webkit-scrollbar-thumb {
    background-color: #8f54a0;
    border-radius: 10px;
    border: 3px solid #ffffff;
  }
.music-item {
    display: flex;
    width: 100%;
    background-color: #f9f9f9;
    border: 5px solid #7d00b3; 
    margin-top: 15px;
  }
  
  .music-item img {
padding-bottom: 15px;
padding: 5px;
}
  
  .music-item p {
    margin-left: 10px; 
    margin-top: 15px;
}

body {
  background-color: #0c0c0c;
}

p {
  color: #0c0c0c;
}

.container-fluid {
  display: flex;
  justify-content: center;
}


.hr {
  opacity: 1;
  border-top: 3px solid #7d00b3;
}